.body2 {
    background-color: #23272F;
    width: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjetasContainerMain {
    width: auto;
    display: flex;
    align-items: center;
}

.tarjetasContainer {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.tarjetas {
    border: 3px solid #006283;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 200px;
    padding: 5px;
    background-color: white;
}

.botones {
    padding: 15px;
    background-color: #149ECA;
    border: 2px solid #006283;
    border-top: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #23272F;
}

.botones:hover {
    border: 2px solid #006283;
    border-top: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #52d2fd;
    color: #23272F
}