.body {
    background-color: antiquewhite;
    flex-direction: column;
    width: auto;
    min-height: 100vh;
}

.tarjetasContainer {
    width: auto;
    display: flex;
    align-items: center;
}

.tarjetas {
    width: 200px;
}