.body3 {
    background-color: #23272F;
    width: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-size: 1.5em;
    color: #23272F;
}

.datosContainer {
    margin: 20px;
    width: auto;
    padding: 15px;
    border: 2px solid #006283;
    border-radius: 5px;
    background-color: #149ECA;
    display: flex;
    flex-direction: column;
}

.valorContainer {
    width: auto;
    padding: 15px;
    border: 2px solid #006283;
    border-radius: 5px;
    background-color: #149ECA;
    display: flex;
    flex-direction: column;
}

.valorTransfer {
    margin: 5px;
    width: 50%;
    padding: 10px;
    background-color: #23272F;
    border: 2px solid #006283;
    border-radius: 5px;
    outline: none;
    color: white;
}

.boton1 {
    margin: 2px;
    color: white;
    padding: 15px;
    background-color: #006283;
    border: 2px solid #017ca5;
    border-radius: 5px;
}

.boton1:hover {
    color: #23272F;
    background-color: #3abde9;
    border: 2px solid #3ecbfa;
}
